# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.d/
terraform/lambda.zip
terraform/terraform.tfvars
terraform/backend.hcl
terraform/tfplan
terraform/*.tfplan

# Python
__pycache__/
*.pyc
.env
